.title {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: grey;
    font-size: 36px;
}

.content {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    font-size: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.content h3 {
    text-align: center;
}